.AppContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.ImageUploaderContainer {
  display: flex;
  /* background-color: blue;
  width: 30vw; */
  /*
  justify-content: center; */
  /*
  align-items: center;
   */
}

.FooterContainer {
  text-align: center;
  position: absolute;
  bottom: 0;
  margin-left: 3vw;
} 
